[Desktop Entry]
Version=1.0
Name=Mars 4.5
Comment=MIPS Assembler and Runtime Simulator
Exec=java -jar /opt/Mars/Mars4_5.jar
Path=/opt/Mars
Icon=/opt/Mars/mars.png
Terminal=false
Type=Application
Categories=Utility;Development;
